<footer class=" text-center text-lg-start mt-5" id="f1">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-8 col-md-12 mb-4 mb-md-0" >
          <!-- <h5 class="text-uppercase">Footer text</h5> -->
  
          <p style="text-align: justify;display: flex;align-content:space-around;" class="mt-5">
            The smallest of Kerala districts, situated in the southern region of Kerala, Pathanamthitta 
            has nearly half of its total area under forest cover. It is the pilgrim center of Kerala, 
            renowned for the shrine of Lord Ayappa in the Sabari Hills, drawing millions of devotees
             from near and far off places. The district also is known as a center for experiencing and 
             learning some of the cultural as well as traditional practices of Kerala. Kollam, Kottayam 
             and Alappuzha form the adjoining districts of Pathanamthitta.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          
            <img id="img" src="https://www.keralatourism.org/assets/icpc/images/Kerala_Tourism_Logo.png" alt="">
         
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3"  id="f2">
      © 2023 Copyright:
      <a class="text-dark" routerLink="">pathanamthittatourism</a>
    </div>
    <!-- Copyright -->
  </footer>
